@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://weloveiconfonts.com/api/?family=brandico|entypo|iconicfill|fontawesome);

/* brandico */
[class*="brandico-"]:before {
  font-family: "brandico", sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: "IconicFill", sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
